<!--assignment 2
PROG38263
Danyal Khan 991 389 587
Mizanur Rahman 981388924-->

{% extends "layout.html" %}


{% block title %}
{% if post.title %}
  Edit | {{ post.title }}
{% else %}
  Create Post
{% endif %}
{% endblock %}

{% block body %}
  <div class="columns">
    <section class="column">
  
    <article class="post">
      <h2 class="title is-2">
      {% if post.title %}
      Edit Post
      {% else %}
      Create Post
      {% endif %}
      </h2>
      {% if post.title %}
      <form class="form" role="form" method="post" action="{{url_for('update_post', link=post.link)}}" accept-charset="UTF-8">
      {% else %}
      <form class="form" role="form" method="post" action="{{url_for('create_post')}}" accept-charset="UTF-8">
      {% endif %}
        <div class="field">
          <label class="label">Post Title</label>
          <div class="control">
            <input class="input" type="text" name="title" value="{{post.title}}" required>
          </div>
        </div>
        
        <div class="field">
          <label class="label">Title Image URL</label>
          <div class="control">
            <input class="input" type="url" name="image_url" value="{{post.image_url}}" required>
          </div>
        </div>
        
        <div class="field">
          <label class="label">Post Category</label>
          <div class="control">
            <div class="select">
              <select name="category">
              {% for item in g._categories %}
                <option value="{{item.category}}" {% if item.category == post.category %}selected{% endif %}>{{item.category | title}}</option>
              {% endfor %}
              </select>
            </div>
          </div>
        </div>
        
        <div class="field">
          <div class="control">
            <textarea class="textarea" rows="20" type="text" name="text">
             {{post.text | safe}}
            </textarea>
          </div>
        </div>
                
      
        <div class="field is-grouped">
          <p class="control">
            <input type="submit" name="publish" value="Save Changes" class="button is-link">  
          </p>
          <p class="control">
            <input type="submit" name="publish" value="Discard" class="button"> 
          </p>
        </div>
      </form>
    </article>
    
  </section>
  <aside class="column is-one-quarter">
    <h2 class="title is-3">Recent Posts</h2>
    {% for post in g._recent_stories %}
      <article>
        <header>
          <a href="{{url_for('view_post', link=post.link)}}" ><h5 class="title is-5">{{post.title}}</h5></a>
        </header>
        <figure class="image">
          <a href="{{url_for('view_post', link=post.link)}}"><img src="{{post.image_url}}" alt="" /></a>
        </figure>
      </article>
      <hr />
    {% endfor %}
    <h2 class="title is-3">Top Stories</h2>
    {% for post in g._top_stories %}
      <article>
        <header>
          <a href="{{url_for('view_post', link=post.link)}}" ><h5 class="title is-5">{{post.title}}</h5></a>
        </header>
        <figure class="image">
          <a href="{{url_for('view_post', link=post.link)}}"><img src="{{post.image_url}}" alt="" /></a>
        </figure>
      </article>
      <hr />
    {% endfor %}
    
  </aside>
</div>
{% endblock body %}
